<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <%= stylesheet_link_tag "application", "font-awesome",  media: "all", "data-turbolinks-track" => true %>
    
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-inverse" role="banner">
      <%= render 'layouts/navigation' %>
    </header>

    <%= render 'layouts/navigation_links'%>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
